// Add your own custom styles here
.cog {
  background-color: black;
  color: white !important;
  border: 1.5px dashed white;
  margin: 5px;
}

.cog-yellow {
  background-color: #f1c76d !important;
}

html.dark div:not(.swiper-slide) > .cog {
  background-color: rgb(227, 227, 227);
}

html.dark .cog {
  background-color: #e5e5e5;
  color: #222222 !important;
  border: 1.5px dashed #222222;
}

:is(.dark .btn-outline-primary) {
  border-color: rgb(227, 227, 227);
}

.drop-shadow {
  filter: drop-shadow(0px 5px 5px #555);
}

html.dark .drop-shadow {
  filter: none;
}

.section {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

html.dark .invert-color-10 {
  -webkit-filter: invert(10%);
  filter: invert(10%);
}

.invert-color-100 {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

html.dark .invert-color-89 {
  -webkit-filter: invert(89%);
  filter: invert(89%);
}

.zoom-15 {
  zoom: 15%;
}

.dash-green {
  --dash-color: #36ff00;
}

.dash-yellow {
  --dash-color: #f2ff00;
}

.dash-purple {
  --dash-color: #00fcff;
}

.dash {
  width: 20px;
  height: 8px;
  display: inline-block;
  background-color: var(--dash-color);
  border-radius: 10px;
  margin-bottom: 1px;
  border: 1px solid black;
  margin-right: 8px;
}


